/123
/adress.lis
/adress2.lis
/contact.py
/game.py
/grep.py
/magi
/monster.py
/ordlista.lis
/ordlista2.lis
/point.py
/PSPY-2-övn-1.2-31.py
/PSPY-2-övn-1.2-32.py
/PSPY-2-övn-1.2-33.py
/PSPY-2-övn-1.2-59.py
/PSPY-2-övn-1.2.py
/PSPY-3_övn1.3adressliste.py
/PSPY-5-Inlämning1_Jimmie_Hinke.py
/PSPY6-övn1.1.py
/PSPY6-övn8.py
/PSPY7.HMS.py
/PSPY7.magic_numbers.py
/PSYy-ovn3.py
/PSYy-ovn3_45.py
/PSYy-ovn3_53saveload.py
/snake.py
/tenta
/tentatest
/test.py
/trafikljus.py
/trollkarl.txt
/vsctest.py
/__pycache__